
#myTable {
    width: 100%;
    border-collapse: collapse;
    /* margin: 10px 102px; */
    /* width: max-content; */
    /* position: absolute;
    left: 26%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  }

  #myTable th,
  #myTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #myTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  /* Row Coloring */
  #myTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Button Styling */
  .action-button {
    padding: 5px 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  .startExam{
    padding: 10px 30px !important;
    margin-top: 3px !important;
  }
  .button-link {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-link:hover {
    background-color: #45a049; /* Darker green */
  }
  
  .button-link:active {
    background-color: #3e8e41; /* Active green */
  }