body{
  background-image: url('../nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg');
  background-size: cover;
}
#questionContainer {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  

  #questionContainer {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 0 auto;
  }
.innerQuestion{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .time {
    margin-left: 20px;
  }

  /* Question Styles */
  .question {
 
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    font-size: 1em;
    margin-right: 10px;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  input[type="radio"],
  input[type="checkbox"],
  input[type="text"] {
    margin-right: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }