body{
  background-image: url('../Exam/jeshoots-com-fzOITuS1DIQ-unsplash.jpg');
  background-size: cover;
}
#resultContainer {
    text-align: center;
    margin-top: 50px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
  }
  
  #marksValue, #fullMarksValue {
    font-weight: bold;
  }
  
  .passed {
    color: green;
  }
  
  .failed {
    color: red;
  }
 

  h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    font-size: 1em;
  }
  
  .button-link {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
 
  }
  
  .button-link:hover {
    background-color: #45a049; /* Darker green */
  }
  
  .button-link:active {
    background-color: #3e8e41; /* Active green */
  }
  .buttonDiv{
    width: 100%;
    display:  flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }